@model IEnumerable<Poll>
@{
    ViewData["Title"] = "Admin Page";
}

<section>
    <div class="container py-8">
        <h1 class="text-center">Manage</h1>
        @if (TempData["PollDeleteSuccess"] != null)
        {
            <p class="p-4 px-8 rounded mt-6 bg-green-600 text-white">@TempData["PollDeleteSuccess"]</p>
        }
        @if (TempData["PollDeleteError"] != null)
        {
            <p class="p-4 px-8 rounded mt-6 bg-red-600 text-white">@TempData["PollDeleteError"]</p>
        }

        @if (!Model.Any())
        {
            <h2 class="text-center mt-2">No polls found.</h2>
        }
        else
        {
            <div class="flex justify-end mt-8">
                <a asp-controller="Admin" asp-action="Create" class="px-4 py-1 bg-green-500 rounded hover:bg-green-600 transition-colors">Create</a>
            </div>
            <table class="w-full text-left mt-4 overflow-x-auto">
                <thead>
                <tr class="border-b">
                    <th class="py-2">Question</th>
                    <th class="py-2">Options</th>
                    <th class="py-2">Voters</th>
                    <th class="py-2">Actions</th>
                </tr>
                </thead>
                <tbody>
                @foreach (Poll poll in Model)
                {
                    <tr class="border-b">
                        <td class="py-2">@poll.Question</td>
                        <td class="py-2">@string.Join(", ", poll.Options.Select(option => option.Name))</td>
                        <td class="py-2">@poll.Voters</td>
                        <td class="py-2"><span class="text-blue-400 hover:underline cursor-pointer">Edit</span> | <span class="text-blue-400 hover:underline cursor-pointer">Details</span> | <a asp-controller="Admin" asp-action="Delete" asp-route-id="@poll.Id" class="text-blue-400 hover:underline cursor-pointer">Delete</a></td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</section>
